 .avatar {
  background-color: #F05F40;
  margin-bottom: 20px;
  margin-top: 10px;
}
.avatar img{
  border-radius: 50%;
}
footer {
  font-size: 12px;
  color: #F05F40;
}
#photos {
	padding-bottom: 40px;
}
#contact {
	padding-bottom: 40px;
}
